*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 5px 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

/* ============================= */
h1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
}

.card {
  margin: 10px;
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  transform: scaleX(-1);
  transition: all 0.8s ease;
}

.card-text {
  font-size: 72px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  opacity: 0;
  transition: all 0.1s linear 0.2s;
}

.flipped {
  transform: scaleX(1);
}

.flipped > .card-text {
  opacity: 1;
}

/* ============================= */

.panel {
  margin: 24px;
  text-align: center;
  border: 1px solid blue;
}

.scores {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
}

#new {
}